include settings.ini
include LICENSE
include CONTRIBUTING.md
include README.md
include watercolor/data/filter_specifics/*
include watercolor/data/sps_library_data/*
include watercolor/data/test_hacc_stellar_catalog/*
recursive-exclude * __pycache__